.authmodal {
   width: 500px;
   &__title {
      font-size: 30px;
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      & + * {
         margin-top: 15px;
      }
   }
   &__column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & + * {
         margin-top: 15px;
      }
   }
}
