@import './varible';
.__container {
   max-width: 1720px;
   margin: 0 auto;
   padding: 0 15px;
}

.perple-underline {
   padding: 10px;
   border-bottom: 3px solid $underLineColor;
   border-radius: 16px;
}

.wrapper {
   position: relative;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-top: 70px;
   gap: 10px;

   & .sidebar {
      grid-column: 1 / 2;
   }
   & main {
      grid-column: 2 / 5;
   }
   @media (max-width: 740px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      & main {
         grid-column: 1 / 2;
      }
   }
}
