.rateModal {
   width: 500px;
   &__title {
      font-size: 30px;
      max-width: 300px;
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      & + * {
         margin-top: 15px;
      }
   }
}
